<h1>カートアイテムページ</h1>
<%= form_with model: @cart_item do |f| %>
  <p>
    <%= f.label :name, "商品名" %>
    <%= Product.find(params[:product_id]).name %>
    <br>
    <%= f.label :price, "価格" %>
    <%= Product.find(params[:product_id]).price %>
    <br>
  </p>

  <p>
    <%= f.label :qty, "数量" %>
    <%= f.number_field :qty %>
  </p>
  <%= f.hidden_field :product_id, value: params[:product_id] %>
  <%= f.submit "商品を登録する" %>
<% end %>